<IfModule mod_rewrite.c>
		
	RewriteEngine on

		# ----------------------------------------------------------------
		# APPLICATION - Help with the "assets" directory at top level
		# ----------------------------------------------------------------

		RewriteRule ^(images|css|js|downloads|cms)/(.*)$    /assets/$1/$2 [L]
		
		# ----------------------------------------------------------------
		# APPLICATION - Pretty URLs (index.php/dir becomes /dir)
		# ----------------------------------------------------------------
		RewriteCond $1 !^(index\.php)
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ /index.php?$1 [L]

</IfModule>